<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/loanProfile.css' %}">
    <title>LoanProfile</title>
</head>
<body>
    <div class="banner-text">

        <h2>Pay your loan here</h2>
        <form method="POST" action="">
            {% csrf_token %}
            <label for="LoanID">
                <input type="text" placeholder="LoanID" name="LoanID" id="loanIn"  required
                       oninvalid="this.setCustomValidity('LoanID cannot be empty')" oninput="this.setCustomValidity('')">
            </label>
            <!--<button onclick={handleClick()} type="submit" >Pay</button>-->
            <input type="submit" value="Pay" class="pay">
        </form>
        <p><h1 style="margin: 2% 0 0 40%; color: #fff">Loan details</h1></p>
        <div class="paid">
            <h3><pre>{{ response  | pprint}}</pre></h3>
        </div>
    </div>
    <script>
        document.querySelector(".pay").addEventListener("click", () => {
            //document.querySelector(".loanResponse").style.display = "none";
            document.querySelector(".paid").style.display = "block";
            setTimeout(() => {
                if (document.getElementById("loanIn").value===''){}
                else { alert('Loan paid successfully') }
                })
            ,3000})
    </script>
</body>
</html>
